<div id="bg" class="container">
    <div class="card">
        <h2>Change Password</h2>
        <form>
            <label for="confirmationPin">Confirmation Pin</label>
            <input type="number" id="confirmationPin" placeholder="Enter confirmation pin">

            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" placeholder="Enter your new password">

            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" placeholder="Confirm new password">

            <button type="submit">Create Password</button>
        </form>
    </div>
</div>