<div id="bg" class="container">
    <div class="card">
        <h2>Sign in</h2>
        <form>
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter email">

            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter password">

            <button type="submit">Login</button>
            <br>
            <a asp-action="Signup" class="link-button">sign up</a>
        </form>
        <div class="switch">Forgot password? <a asp-action="ChangePassword">click here</a></div>
    </div>
</div>
