<div id="bg" class="container">
    <div class="card">
        <h2>Sign up</h2>
        <form>
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter email">

            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Choose password">

            <button type="submit" asp-action="Login">Sign up</button>
        </form>
    </div>
</div>
