<div class="contact">
    <h3>Contacts</h3>
    <hr />
    <p>Tel no: +108227262, +2348093763733, +2349087484798 </p>
    <br />
    <p>Mail: ecommerce@gmail.com, ecommerce@yahoo.com, ecommerce@hotmail.com</p>
    <br />
    <div style="padding:5px">
        <p>Socials:</p> <a href="https://www.facebook.com" style="font-size:30px; color:black"><i class="fa fa-facebook"></i></a> <a href="https://www.instagram.com" style="font-size:30px; color:black"><i class="fa fa-instagram"></i></a> <a href="https://www.twitter.com" style="font-size:30px; color:black"><i class="fa fa-twitter"></i></a>
    </div>
    <br />
    <form>
        <div><label>Comments</label></div>
        <div><textarea style="width:60%; height:60px"></textarea></div>
        <div><button type="submit">Submit</button></div>
    </form>
</div>