@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2> Help</h2>
<p>Welcome to our E-Commerce App! We're thrilled to have you on board. Whether you're new to online shopping or a seasoned pro, this guide will walk you through the key features and steps to make the most of your shopping experience. Let's dive in!</p>
<br />
<p>
    1. Sign Up or Log In:

    If you're new to the app, tap on "Sign Up" to create an account. Provide your email, set a password, and follow the prompts.
    If you already have an account, tap "Log In" and enter your credentials.
    <br />
    2. Browsing and Product Search:

    On the app's home screen, you'll find featured products, categories, and special deals.
    Use the search bar to look for specific products by name, category, or brand.
    <br />
    3. Product Details:

    Click on a product to view its details. You'll find product images, descriptions, prices, and customer reviews.
    Select product variations (size, color) if applicable.
    <br />
    4. Adding to Cart:

    To buy a product, tap "Add to Cart." You can continue browsing or proceed to checkout.
    <br />
    5. Shopping Cart:

    Access your shopping cart by tapping the cart icon.
    Review your selected items, quantities, and prices.
    Make any necessary changes and tap "Proceed to Checkout" when ready.
    <br />
    6. Checkout:

    Choose your delivery address or add a new one.
    Select your preferred payment method (credit/debit card, PayPal, etc.).
    Review your order summary and total cost.
    Tap "Place Order" to complete your purchase.
    <br />
    7. Order Tracking:

    Once your order is confirmed, you'll receive an order confirmation with details.
    Track the status of your order in the app. You'll be notified when it's shipped and delivered.
    <br />
    8. Account Management:

    Access your account settings to update personal information, address, and payment methods.
    Manage your order history, track packages, and request returns or exchanges.
    <br />
    9. Help and Support:

    If you have questions, tap on the "Help" or "Support" section in the app.
    You can find FAQs, contact customer support, and get assistance with any issues.
    <br />
    10. Notifications:

    Enable app notifications to receive updates about promotions, new arrivals, and order status.
    <br />
    11. Wishlist and Favorites:

    Save products you're interested in by adding them to your wishlist or favorites list.
    <br />
    12. Secure Shopping:

    Rest assured, your personal and payment information is kept secure using encryption.
    <br />
    Congratulations, you're all set to explore and shop with our E-Commerce App! Should you ever need assistance, our customer support team is here to help. Happy shopping!
</p>