<div class="settings">
    <h3>Settings</h3>
    <hr />
    <div>
        <label for="Country">Country</label>
        <select id="country" name="country">
            <option value="Nigeria">Nigeria</option>
            <option value="USA">USA</option>
            <option value="Canada">Canada</option>
            <option value="UK">UK</option>
            <option value="Germany">Germany</option>
            <option value="France">France</option>
        </select>
    </div>
    <br />
    <div>
        <label for="language">Language</label>
        <select id="language" name="language">
            <option value="English">English</option>
            <option value="French">French</option>
            <option value="Dutch">Dutch</option>
            <option value="Spanish">Spanish</option>
            <option value="Italian">Italian</option>
            <option value="Portugese">Portugese</option>
        </select>
    </div>
    <br />
    <div>
        <label for="currency">Currency</label>
        <select id="currency" name="currency">
            <option value="Naira">Naira</option>
            <option value="USD">USD</option>
            <option value="Euro">Euro</option>
            <option value="Pound">Pound</option>
            <option value="Yen">Yen</option>
        </select>
    </div>
    <br />
    <div>
        <a href="changepassword" style="text-decoration:none; color: black">Change password</a>
    </div>
    <br />
    <div>
        <a href="logout" style="text-decoration:none; color: black">Logout</a>
    </div>
    <br />
    <button type="button" class="btnsave">Save</button>
</div>
